

body {
    /* background-color: #1c1c1c !important;  */
    background: linear-gradient(45deg, #000000, #091246, #000000, #0c096f);
    background-size: 400% 400%;
    width: 100vw !important;
    height: 98vh !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    animation: gradienttt 10s ease infinite !important;

}

header {
    width: 100% !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img {
    width: 15rem!important;
    height: 15rem !important;
    margin-top: 10rem !important;
}

  

.containr {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .containr div {
    background-color: white !important;
    width: 70% !important;
    height: 30rem !important;
    padding: 1rem;
} */




.form-container {
    width: 800px;
    height: 450px;
    background: transparent;
    border: 5px solid #939393;
    padding: 32px ;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    /* animation: gradient 5s ease infinite; */
}
  
@keyframes gradient {
    0% {
      background-position: 0% 40%;
    }
  
    50% {
      background-position: 60% 80%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}
@keyframes gradienttt {
    0% {
      background-position: 0% 40%;
    }
  
    50% {
      background-position: 60% 80%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}
  
.form-container button:active {
    scale: 0.95;
}
  
.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
  
.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}
  
.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}
  
.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}
  
.form-container .form-group input::placeholder {
opacity: 0.5;
}

.form-container .form-group input:focus {
outline: none;
border-color: #e81cff;
}

.form-container .form-group textarea:focus {
outline: none;
border-color: #e81cff;
}
  
.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}
  
  
  
.form-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    color: #333;
    margin-bottom: 1rem;
}

.form-container form button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #1f125b;
    color: #fff;
    cursor: pointer;
}

.form-container form button:hover {
    background-color: #fff;
    color: #1f125b;
}