<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Analyseur de Sentiments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body>

    <header >
        <div>
            <img src="{{ url_for('static', filename='images/header-image2.png') }}" alt="Logo">
        </div>

    </header>


    <div class="containr">


        <div class="form-container">
            <h1 class="">Emotion Analyzer</h1>
            <form action="/" method="POST" class="form">
                <textarea name="text" rows="6" class="" placeholder="Enter your text here..."></textarea>
                <button type="submit" class="">Analyze</button>
            </form>
        </div>

    </div>

</body> 
</html>
